.ce_pink{
 color: var(--pnk);
}
.ce_white{
	color: var(--wht)
}
.ce_green{
	color: var(--grn);
}
.ce_yel{
	color: var(--yel);
}
.ce_blue{
	color: var(--blu);
}
.ce_grey{
	color: var(--grey);
}
.code{
}
