span.top__span{
	display: none;
}
span.top__span.active{
	display: block;
	position : fixed;
	bottom: 5rem;
	right: 5rem;
	//
	button{
		width : 60px;
		height : 60px;
		position: relative;
		//
		border-radius: 100%;
		background: none;
		&:active {
			background : #17a3bd;
		}
		img{
			position: absolute;
			width : 50px;
			height : 50px;
		}
	}
}

