@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
//font-family: 'Comfortaa', cursive;
*,
*::after,
*::before {
	margin  : 0;
	padding : 0;
}

html {
	background-color : white;
	font-family: 'Comfortaa', cursive
}

body {
	box-sizing : border-box;
}

a {
	text-decoration : none;
}

ol, ul {
	list-style : none;
}

button {
	cursor : pointer;
}

img {
	max-width : 100%;
	height    : auto;
}

// hidden elements
.hidden {
	display : none;
}

// container
.container {
	max-width     : 1440px;
	padding-left  : 120px;
	padding-right : 120px;
	margin        : 0 auto;
}

.grid {
	display : grid;
}

h1, h2, h3, h4 {
	padding : 0;
	margin  : 0;
}

