@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap");
:root {
  --text-color: black;
  --text-color-hover: #C34A36;
  --color-primary_dark: #4E4637;
  --color-primary: #E4CB9D;
  --color-secondary: #B4AA99;
  --top_btn_color: #C34A36;
  --btn_color: #C34A36;
}

[data-theme=dark] {
  --text-color: white;
  --color-primary_dark: #404046;
  --color-primary: #051937;
  --color-secondary: #161625;
  --top_btn_color: #543fd7;
  --btn_color: #543fd7;
}
[data-theme=dark] img {
  fill: white;
}
[data-theme=dark] img.ico {
  filter: invert(1);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

html {
  background-color: white;
  font-family: "Comfortaa", cursive;
  transition: 0.5s;
}

body {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ol, ul {
  list-style: none;
}

button {
  cursor: pointer;
  background-color: var(--btn_color);
}

img, svg {
  max-width: 100%;
  height: auto;
}

.hidden {
  display: none;
}

.container {
  max-width: 1440px;
  padding-left: 120px;
  padding-right: 120px;
  margin: 0 auto;
}
@media (max-width: 1279px) {
  .container {
    padding-left: 60px;
    padding-right: 60px;
  }
}
@media (max-width: 767px) {
  .container {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (max-width: 424px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (max-width: 319px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.grid {
  display: grid;
}

h1, h2, h3, h4, p, li, a, .nav__link {
  padding: 0;
  margin: 0;
  color: var(--text-color);
}

h2 {
  font-size: 2rem;
}

main section.about {
  width: 100%;
  height: 100vh;
  background-color: var(--color-secondary);
}
main section.about .container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 50px;
  flex-wrap: wrap;
}
main section.about .about__inner {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}
main section.about .about__inner button {
  transition: 0.3s;
}
main section.about .about__inner button:hover p {
  display: block;
  opacity: 100;
}
main section.about .about__inner button p {
  font-size: 1.2rem;
  display: none;
  opacity: 0;
}
main section.about .about__inner button img {
  width: 30px;
  height: auto;
}
main section.about .about__subscription {
  width: 55%;
}
@media (max-width: 767px) {
  main section.about .about__subscription {
    font-size: calc(16px + 27.2 * ((100vw - 320px) / 1280));
  }
}
@media (min-width: 767px) {
  main section.about .about__subscription {
    font-size: calc(16px + 16 * (100vw / 1280));
  }
}
main section.about .avatar {
  width: 400px;
  height: 400px;
  overflow: hidden;
  border-radius: 50% 50% 60% 40%/32% 70% 30% 68%;
  display: flex;
  align-items: center;
  justify-content: center;
}
main section.about .avatar img.avatar__img {
  width: 650px;
  height: auto;
}
main section.skills {
  width: 100%;
  height: 100vh;
  background-color: var(--color-primary);
}
main section.projects {
  width: 100%;
  height: 200vh;
  background-color: var(--color-secondary);
}
main section.education {
  width: 100%;
  height: 100vh;
  background-color: var(--color-primary);
}
main section.code-examples {
  width: 100%;
  height: 100vh;
  background-color: var(--color-secondary);
}
main section.contacts {
  width: 100%;
  height: 50vh;
  background-color: var(--color-primary);
}
main section.contacts h2 {
  font-size: 5rem;
}
main section.contacts .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  flex-wrap: wrap;
}
main section.contacts .contacts__inner {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 20px;
}
main section.contacts .contact__wrapper, main section.contacts .contact__title {
  display: flex;
  align-items: center;
}
main section.contacts .contact__title {
  gap: 5px;
  width: 10rem;
}
main section.contacts .contact__wrapper {
  gap: 15px;
}

header {
  position: fixed;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgba(255, 255, 255, 0.4);
  overflow: hidden;
  z-index: 100;
}

footer {
  background-color: var(--color-primary_dark);
}
footer .footer__img {
  width: 50px;
  height: 50px;
}
footer .footer__inner {
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  overflow: hidden;
}
footer .footer__inner svg {
  fill: var(--text-color);
}
footer .footer__inner #rss-ico {
  overflow: hidden;
  width: 90px;
  height: 90px;
}
footer .footer__inner .footer__block {
  display: flex;
  align-items: start;
  gap: 10px;
  overflow: hidden;
}
footer .footer__inner .footer__block p {
  font-size: 2rem;
  font-family: "Kdam Thmor Pro", sans-serif;
}

button {
  background: var(--btn_color);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 2px 3px rgba(13, 96, 111, 0.16);
  border-radius: 10px;
  padding: 10px 30px;
  color: white;
  font-family: "Red Hat Text", sans-serif;
  font-style: normal;
  font-weight: 400;
  border: none;
  line-height: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
button:active {
  background: #FF8066;
}
button:hover {
  background: #FF8066;
}

span.top__span {
  display: none;
}

span.top__span.active {
  animation: showLBot 0.3s;
  display: block;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
}
@keyframes showLBot {
  from {
    right: -100%;
    opacity: 0;
  }
  to {
    right: 2rem;
    opacity: 100;
  }
}
span.top__span.active button {
  width: 60px;
  height: 60px;
  position: relative;
  border-radius: 100%;
  background: var(--top_btn_color);
}
span.top__span.active button:active {
  background: #FF8066;
}
span.top__span.active button:hover {
  background: #FF8066;
}
span.top__span.active button img {
  position: absolute;
  width: 50px;
  height: 50px;
}

.hamburger {
  margin-right: 10px;
  display: none;
  cursor: pointer;
}
.hamburger .bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--color-primary_dark);
}

@media (max-width: 1200px) {
  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav__menu {
    position: fixed;
    right: -200%;
    top: 55px;
    flex-direction: column;
    padding: 44px 13px 30px 44px;
    gap: 10px;
    font-size: 16px;
    line-height: 21px;
    background: var(--color-primary);
    box-shadow: 0 4px 33px rgb(var(--btn_color));
    border-radius: 10px;
  }

  .nav__menu.active {
    right: 0;
  }
  .nav__menu.active .hidden {
    display: block;
  }
}
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
}
.nav .nav__link {
  color: var(--text-color);
}
.nav .nav__link:hover {
  color: var(--text-color-hover);
}
.nav .nav__menu {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.nav__menu.active {
  flex-direction: column;
  font-size: 1.5rem;
}
.nav__menu.active .nav__menu {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

/*slider switch css */
.theme-switch-wrapper {
  display: flex;
  align-items: center;
}
.theme-switch-wrapper em {
  margin-left: 10px;
  font-size: 1rem;
}

.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display: none;
}

.slider {
  background-color: #AC7762;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.slider:before {
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 26px;
  background-image: url("../../assets/ico/light_mod-ico.svg");
  background-size: contain;
}

input:checked + .slider {
  background-color: goldenrod;
}

input:checked + .slider:before {
  transform: translateX(26px);
  background-image: url("../../assets/ico/dark_mod-ico.svg");
  background-size: contain;
}

.slider.round {
  border-radius: 34px;
}

/*# sourceMappingURL=style.css.map */
